{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card shadow">

<div class="card-body">

<h3 class="text-center">
Add New User
</h3>

<form method="post">

<label>Account Number</label>
<input
type="text"
name="account_no"
class="form-control"
required>

<br>

<label>Full Name</label>
<input
type="text"
name="name"
class="form-control"
required>

<br>

<label>Email</label>
<input
type="email"
name="email"
class="form-control"
required>

<br>

<label>4 Digit PIN</label>
<input
type="password"
name="pin"
class="form-control"
maxlength="4"
pattern="[0-9]{4}"
required>

<br>

<label>Opening Balance</label>
<input
type="number"
name="balance"
class="form-control"
required>

<br>

<button
class="btn btn-success w-100">
Create Account
</button>

</form>

<br>

<p class="text-danger">
{{ msg }}
</p>

</div>

</div>

</div>

</div>

{% endblock %}