{% extends "base.html" %}

{% block title %}Add User{% endblock %}

{% block content %}

<div class="card shadow">

<div class="card-header bg-success text-white">

<h3>Add User</h3>

</div>

<div class="card-body">

<form method="POST">

<div class="row">

<div class="col-md-6 mb-3">

<label>Account Number</label>

<input
type="text"
name="account_no"
class="form-control"
required>

</div>

<div class="col-md-6 mb-3">

<label>Name</label>

<input
type="text"
name="name"
class="form-control"
required>

</div>

<div class="col-md-6 mb-3">

<label>Email</label>

<input
type="email"
name="email"
class="form-control"
required>

</div>

<div class="col-md-6 mb-3">

<label>PIN</label>

<input
type="password"
name="pin"
maxlength="4"
class="form-control"
required>

</div>

<div class="col-md-6 mb-4">

<label>Opening Balance</label>

<input
type="number"
name="balance"
step="0.01"
class="form-control"
required>

</div>

</div>

<button
class="btn btn-success">

Create User

</button>

</form>

</div>

</div>

{% endblock %}