{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<h2 class="mb-4">

Admin Dashboard

</h2>

<div class="row g-4">

<div class="col-md-4">

<div class="card bg-primary text-white shadow">

<div class="card-body text-center">

<h5>Total Users</h5>

<h2>{{ total_users }}</h2>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card bg-success text-white shadow">

<div class="card-body text-center">

<h5>Total Transactions</h5>

<h2>{{ total_transactions }}</h2>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card bg-warning shadow">

<div class="card-body text-center">

<h5>Total Balance</h5>

<h2>

₹ {{ "%.2f"|format(total_balance) }}

</h2>

</div>

</div>

</div>

</div>

<hr>

<div class="d-flex gap-3 flex-wrap">

<a
href="{{ url_for('add_user') }}"
class="btn btn-success">

Add User

</a>

<a
href="{{ url_for('view_users') }}"
class="btn btn-primary">

View Users

</a>

<a
href="{{ url_for('view_transactions') }}"
class="btn btn-dark">

Transactions

</a>

</div>

{% endblock %}