{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2 class="text-center mb-4">
        Admin Dashboard
    </h2>

    <div class="row">

        <div class="col-md-4 mb-3">

            <div class="card bg-primary text-white shadow">

                <div class="card-body text-center">

                    <h5>Total Users</h5>

                    <h2>{{ total_users }}</h2>

                </div>

            </div>

        </div>

        <div class="col-md-4 mb-3">

            <div class="card bg-success text-white shadow">

                <div class="card-body text-center">

                    <h5>Total Balance</h5>

                    <h2>₹ {{ total_balance }}</h2>

                </div>

            </div>

        </div>

        <div class="col-md-4 mb-3">

            <div class="card bg-dark text-white shadow">

                <div class="card-body text-center">

                    <h5>Total Transactions</h5>

                    <h2>{{ total_transactions }}</h2>

                </div>

            </div>

        </div>

    </div>

    <hr>

    <div class="text-center">

        <a href="/add_user" class="btn btn-success m-2">
            Add User
        </a>

        <a href="/view_users" class="btn btn-primary m-2">
            View Users
        </a>

        <a href="/all_transactions" class="btn btn-info m-2">
            View Transactions
        </a>

        <a href="/admin_logout" class="btn btn-danger m-2">
            Logout
        </a>

    </div>

</div>

{% endblock %}