{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="card p-4">

<h2 class="text-center">
Welcome {{ name }}
</h2>

<hr>

<div class="row">

<div class="col-md-6 mb-3">

<a href="/check_balance"
class="btn btn-primary w-100">

<i class="fa-solid fa-wallet"></i>
Check Balance

</a>

</div>

<div class="col-md-6 mb-3">

<a href="/deposit"
class="btn btn-success w-100">

<i class="fa-solid fa-money-bill"></i>
Deposit

</a>

</div>

<div class="col-md-6 mb-3">

<a href="/withdraw"
class="btn btn-warning w-100">

<i class="fa-solid fa-money-bill-transfer"></i>
Withdraw

</a>

</div>

<div class="col-md-6 mb-3">

<a href="/transactions"
class="btn btn-info w-100">

<i class="fa-solid fa-clock-rotate-left"></i>
Transactions

</a>

</div>

<div class="col-md-6 mb-3">

<a href="/change_pin"
class="btn btn-secondary w-100">

<i class="fa-solid fa-key"></i>
Change PIN

</a>

</div>

<div class="col-md-6 mb-3">

<a href="/logout"
class="btn btn-danger w-100">

<i class="fa-solid fa-right-from-bracket"></i>
Logout

</a>

</div>

</div>

</div>

{% endblock %}