{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
Transaction History
</h2>

<div class="card shadow">

<div class="card-body">

<table class="table table-bordered table-striped">

<thead class="table-dark">

<tr>

<th>ID</th>
<th>Type</th>
<th>Amount</th>
<th>Balance</th>
<th>Date</th>

</tr>

</thead>

<tbody>

{% for row in records %}

<tr>

<td>{{ loop.index }}</td>

<td>{{row.transaction_type}}</td>

<td>₹ {{row.amount}}</td>

<td>₹ {{row.balance}}</td>

<td>{{row.transaction_date}}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

<br>

<a href="/dashboard"
class="btn btn-primary">
Back To Dashboard
</a>

{% endblock %}