{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}

<h2>User Management</h2>

<form class="mb-3">

<input
type="text"
name="search"
class="form-control"
placeholder="Search User..."
value="{{ search }}">

</form>

<div class="table-responsive">

<table class="table table-bordered table-hover">

<thead class="table-dark">

<tr>

<th>Account</th>

<th>Name</th>

<th>Email</th>

<th>Balance</th>

<th>Action</th>

</tr>

</thead>

<tbody>

{% for u in users %}

<tr>

<td>{{ u.account_no }}</td>

<td>{{ u.name }}</td>

<td>{{ u.email }}</td>

<td>₹ {{ "%.2f"|format(u.balance) }}</td>

<td>

<a
href="{{ url_for('delete_user',account_no=u.account_no) }}"
class="btn btn-sm btn-danger"
onclick="return confirm('Delete this user?')">

Delete

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}