{% extends "base.html" %}

{% block title %}Transactions{% endblock %}

{% block content %}

<h2>All Transactions</h2>

<form class="mb-3">

<input
type="text"
name="search"
class="form-control"
placeholder="Search Account..."
value="{{ search }}">

</form>

<div class="table-responsive">

<table class="table table-striped table-hover">

<thead class="table-dark">

<tr>

<th>Account</th>

<th>Type</th>

<th>Amount</th>

<th>Balance</th>

<th>Date</th>

</tr>

</thead>

<tbody>

{% for r in records %}

<tr>

<td>{{ r.account_no }}</td>

<td>{{ r.transaction_type }}</td>

<td>₹ {{ "%.2f"|format(r.amount) }}</td>

<td>₹ {{ "%.2f"|format(r.balance) }}</td>

<td>{{ r.transaction_date }}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}